@page  "/Product/CadastroProduct"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="card m-3">
    <h4 class="card-header">Cadastro de Produtos</h4>
    <div class="card-body">
        <EditForm Model="@product" OnValidSubmit="HandleValidSubmit" @onreset="HandleReset">
            <DataAnnotationsValidator />
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Nome</label>
                    <InputText @bind-Value="product.Nome" class="form-control" />
                    <ValidationMessage For="@(() => product.Nome)" />
                </div>
                <div class="form-group col-5">
                    <label>Descrição</label>
                    <InputText @bind-Value="product.Descricao" class="form-control" />
                    <ValidationMessage For="@(() => product.Descricao)" />
                </div>
                <div class="form-group col-5">
                    <label>Valor</label>
                    <InputText @bind-Value="product.Valor" class="form-control" />
                    <ValidationMessage For="@(() => product.Valor)" />
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mr-1">Salvar</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
            </div>
        </EditForm>
    </div>
</div>

@code {

    private Product product = new Product();
    private EditContext editContext { get; set; }

    private async Task HandleValidSubmit()
    {
        //Enviar dados para o Controller no Backend
        var teste = await Http.PostAsJsonAsync("/Product/Create", product);
        NavigationManager.NavigateTo("Product/ListProduct");

    }

    private void HandleReset()
    {
        product = new Product();
        editContext = new EditContext(product);
    }
}